{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-modification" formaction="{{ test_action|e('html_attr') }}" data-toggle="tooltip" title="{{ button_test }}" class="btn btn-warning"><i class="fa fa-flask"></i></button>
        <button type="submit" form="form-modification" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-general" data-toggle="tab"><i class="fa fa-cog"></i> {{ tab_general }}</a></li>
          <li><a href="#tab-xml" data-toggle="tab"><i class="fa fa-code"></i> {{ tab_xml }}</a></li>
          <li{% if test_results %} class="flash-tab"{% endif %}><a href="#tab-test" data-toggle="tab"><i class="fa fa-flask"></i> {{ tab_test }}{% if test_results %} <span class="label label-{{ test_results.status == 'error' ? 'danger' : (test_results.status == 'warning' ? 'warning' : 'success') }}">!</span>{% endif %}</a></li>
        </ul>
         <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-modification" class="form-horizontal">
          <input type="hidden" name="user_token" value="{{ user_token }}" />
          {% if modification_id %}<input type="hidden" name="modification_id" value="{{ modification_id }}" />{% endif %}
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                   <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-code">{{ entry_code }}</label>
                <div class="col-sm-10">
                   <input type="text" name="code" value="{{ code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control" />
                  {% if error_code %}
                  <div class="text-danger">{{ error_code }}</div>
                  {% endif %}
                  <span class="help-block">{{ help_code }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-author">{{ entry_author }}</label>
                <div class="col-sm-10">
                   <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-version">{{ entry_version }}</label>
                <div class="col-sm-10">
                   <input type="text" name="version" value="{{ version }}" placeholder="{{ entry_version }}" id="input-version" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-link">{{ entry_link }}</label>
                <div class="col-sm-10">
                   <input type="text" name="link" value="{{ link }}" placeholder="{{ entry_link }}" id="input-link" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-xml">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-xml">{{ entry_xml }}</label>
                <div class="col-sm-10">
                   <textarea name="xml" rows="25" placeholder="{{ entry_xml }}" id="input-xml" class="form-control" style="font-family: monospace;">{{ xml }}</textarea>
                  {% if error_xml %}
                  <div class="text-danger">{{ error_xml }}</div>
                  {% endif %}
                  <span class="help-block">{{ help_xml }}</span>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-test">
              {% if test_results %}
              <div class="form-group">
                <div class="col-sm-12">
                  {% if test_results.status == 'success' %}
                  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ text_test_success }}</div>
                  {% elseif test_results.status == 'warning' %}
                  <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{ text_test_warning }}</div>
                  {% else %}
                  <div class="alert alert-danger"><i class="fa fa-times-circle"></i> {{ text_test_error }}</div>
                  {% endif %}

                  {% if test_results.messages %}
                  <div class="well well-sm" style="font-family: monospace; font-size: 12px; max-height: 400px; overflow-y: auto;">
                    {% for msg in test_results.messages %}
                    <div class="test-msg-{{ msg.type }}">{{ msg.text|e('html') }}</div>
                    {% endfor %}
                  </div>
                  {% endif %}

                  {% if test_results.files %}
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <td>{{ column_file }}</td>
                        <td>{{ column_status }}</td>
                        <td>{{ column_operations }}</td>
                      </tr>
                    </thead>
                    <tbody>
                    {% for file in test_results.files %}
                      <tr>
                        <td style="font-family: monospace; font-size: 12px;">{{ file.key|e('html') }}</td>
                        <td>
                          {% if file.modified %}
                          <span class="label label-success">{{ text_modified }}</span>
                          {% else %}
                          <span class="label label-default">{{ text_unmodified }}</span>
                          {% endif %}
                        </td>
                        <td>
                          {% for op in file.operations %}
                          <div style="font-family: monospace; font-size: 11px; margin-bottom: 4px;">
                            {% if op.status == 'ok' %}
                            <span class="label label-success">{{ text_ok }}</span>
                            {% elseif op.status == 'skip' %}
                            <span class="label label-warning">{{ text_skipped }}</span>
                            {% elseif op.status == 'break' %}
                            <span class="label label-warning">{{ text_break }}</span>
                            {% elseif op.status == 'abort' %}
                            <span class="label label-danger">{{ text_abort }}</span>
                            {% elseif op.status == 'error' %}
                            <span class="label label-danger">{{ text_error }}</span>
                            {% endif %}
                            <span class="text-muted">&nbsp;{{ op.search|default('')|e('html') }}</span>
                            {% if op.text %}<br/><span class="text-danger">{{ op.text|e('html') }}</span>{% endif %}
                          </div>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
              {% else %}
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_test_help }}</div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
{% if test_results %}
$(document).ready(function() {
  $('.nav-tabs a[href="#tab-test"]').tab('show');
});
{% endif %}
//--></script>
{{ footer }}
