<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-heading__icon"><i class="fa fa-calendar"></i></div>
    <div>
      <h3 class="panel-title">{{ heading_title }}</h3>
      <div class="panel-heading__subtitle">{{ text_activity_subtitle }}</div>
    </div>
  </div>
  <ul class="list-group">
    {% if activities %}
    {% for activity in activities %}
    <li class="list-group-item">{{ activity.comment }}<br />
      <small class="text-muted"><i class="fa fa-clock-o"></i> {{ activity.date_added }}</small></li>
    {% endfor %}
    {% else %}
    <li class="list-group-item text-center">{{ text_no_results }}</li>
    {% endif %}
  </ul>
</div>