<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-heading__icon"><i class="fa fa-shopping-cart"></i></div>
    <div>
      <h3 class="panel-title">{{ heading_title }}</h3>
      <div class="panel-heading__subtitle">{{ text_recent_subtitle }}</div>
    </div>
    <a href="{{ orders_link }}" class="btn btn-default btn-xs pull-right" style="margin-left: 10px;">{{ text_view_all }}</a>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="text-right">{{ column_order_id }}</td>
          <td>{{ column_customer }}</td>
          <td>{{ column_status }}</td>
          <td>{{ column_date_added }}</td>
          <td class="text-right">{{ column_total }}</td>
          <td class="text-right">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr>
          <td class="text-right" style="padding-top:8px;padding-bottom:8px;"><div style="margin-bottom:4px;">{{ order.order_id }}{% if order.is_oneclick %}<br><span class="{{ order.order_type_badge_class }}" style="font-size:10px;">{{ order.order_type }}</span>{% endif %}</div></td>
          <td style="padding-top:8px;padding-bottom:8px;">{{ order.customer }}<br><small class="text-muted">{{ order.customer_type }}</small></td>
          <td><span class="{{ order.order_status_badge_class }}">{{ order.status }}</span></td>
          <td>{{ order.date_added }}</td>
          <td class="text-right">{{ order.total }}</td>
          <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
