{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-option').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-option">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'od.name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'o.sort_order' %}
                    <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                    {% else %}
                    <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if options %}
                {% for option in options %}
                <tr>
                  <td class="text-center">{% if option.option_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ option.option_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ option.option_id }}" />
                    {% endif %}</td>
                  <td class="text-left">
                    <span class="inline-edit" data-option-id="{{ option.option_id }}" data-field="name" data-value="{{ option.name_raw }}">{{ option.name }}<i class="fa fa-pencil-square-o inline-edit-icon"></i></span>
                  </td>
                  <td class="text-right">
                    <span class="inline-edit" data-option-id="{{ option.option_id }}" data-field="sort_order" data-value="{{ option.sort_order_raw }}">{{ option.sort_order }}<i class="fa fa-pencil-square-o inline-edit-icon"></i></span>
                  </td>
                  <td class="text-right"><a href="{{ option.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.inline-edit { cursor: default; }
.inline-edit .inline-edit-icon { margin-left: 4px; font-size: 13px; opacity: 0.3; cursor: pointer; }
.inline-edit:hover .inline-edit-icon { opacity: 0.8; }
.inline-edit-input { width: 80px; text-align: right; display: inline-block !important; height: 28px; padding: 3px 8px; }
.inline-edit-input-left { width: 200px; text-align: left; display: inline-block !important; height: 28px; padding: 3px 8px; }
.inline-edit-name-input { width: 200px; display: inline-block !important; height: 28px; padding: 3px 8px; }
.inline-edit-error { margin-left: 4px; font-size: 11px; white-space: nowrap; }
</style>
<script type="text/javascript"><!--
$(document).on('click', '.inline-edit-icon', function(e) {
	e.stopPropagation();

	var $span = $(this).closest('.inline-edit');
	if ($span.find('input, select').length) return;

	var field = $span.data('field');
	var rawValue = $span.data('value');
	var optionId = $span.data('option-id');

	$span.data('display', $span.html());

	if (field === 'name') {
		$.ajax({
			url: 'index.php?route=catalog/option/getName&user_token={{ user_token }}&option_id=' + optionId,
			dataType: 'json',
			success: function(json) {
				if (json['error']) {
					$span.html($span.data('display') + ' <span class="text-danger inline-edit-error">' + json['error'] + '</span>');
					setTimeout(function() { $span.html($span.data('display')); }, 3000);
					return;
				}

				var html = '<div class="inline-edit-names" style="white-space:nowrap;">';
				$.each(json['languages'], function(i, lang) {
					var val = json['names'][lang.language_id] || '';
					html += '<div style="margin-bottom:2px;">';
					html += '<span style="font-weight:bold;font-size:11px;margin-right:4px;">' + lang.name + ':</span>';
					html += '<input type="text" class="form-control input-sm inline-edit-name-input" data-lang-id="' + lang.language_id + '" value="' + val.replace(/"/g, '&quot;') + '" style="width:200px;display:inline-block;">';
					html += '</div>';
				});
				html += '<div style="margin-top:4px;"><button type="button" class="btn btn-primary btn-xs inline-edit-name-save">{{ button_save }}</button></div>';
				html += '</div>';

				$span.html(html);
				$span.find('input').first().focus();

				var reverted = false;

				$span.on('click', '.inline-edit-name-save', function() {
					var names = {};
					$span.find('.inline-edit-name-input').each(function() {
						names[$(this).data('lang-id')] = $(this).val();
					});

					$.ajax({
						url: 'index.php?route=catalog/option/updateNames&user_token={{ user_token }}',
						type: 'post',
						dataType: 'json',
						data: { option_id: optionId, names: names },
						success: function(res) {
							if (res['error']) {
								$span.append(' <span class="text-danger inline-edit-error">' + res['error'] + '</span>');
								setTimeout(function() { $span.find('.inline-edit-error').remove(); }, 3000);
							} else {
								reverted = true;
								$span.data('value', res['value_html']);
								$span.html(res['value_html'] + '<i class="fa fa-pencil-square-o inline-edit-icon"></i>');
							}
						},
						error: function() {
							$span.html($span.data('display'));
						}
					});
				});

				$span.find('.inline-edit-name-input').on('keydown', function(e) {
					if (e.which === 27) {
						reverted = true;
						$span.html($span.data('display'));
					}
				});

				$(document).one('click', function(e) {
					if (!$(e.target).closest('.inline-edit-names').length && !reverted) {
						$span.html($span.data('display'));
					}
				});
			},
			error: function() {
				$span.html($span.data('display'));
			}
		});
	} else {
		$span.html('<input type="text" class="form-control input-sm inline-edit-input" value="' + rawValue + '">');
		var $input = $span.find('input');
		$input.focus().select();

		function revert() {
			$span.html($span.data('display'));
		}

		function save() {
			var newValue = $input.val();

			$.ajax({
				url: 'index.php?route=catalog/option/updateField&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: { option_id: optionId, field: field, value: newValue },
				success: function(json) {
					if (json['error']) {
						$span.html($span.data('display') + ' <span class="text-danger inline-edit-error">' + json['error'] + '</span>');
						setTimeout(function() { $span.html($span.data('display')); }, 3000);
					} else {
						$span.data('value', newValue);
						$span.html(json['value_html'] + '<i class="fa fa-pencil-square-o inline-edit-icon"></i>');
					}
				},
				error: function() {
					revert();
				}
			});
		}

		$input.on('blur', save);
		$input.on('keydown', function(e) {
			if (e.which === 13) { e.preventDefault(); $input.trigger('blur'); }
			if (e.which === 27) { revert(); }
		});
	}
});
//--></script>
{{ footer }}