{% if not redirect %}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">{{ column_name }}</td>
        <td class="text-left">{{ column_model }}</td>
        <td class="text-right">{{ column_quantity }}</td>
        <td class="text-right">{{ column_price }}</td>
        <td class="text-right">{{ column_total }}</td>
      </tr>
    </thead>
    <tbody>
    
    {% for product in products %}
    <tr>
      <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a>{% if product.preorder %} <span class="text-amber-600 text-xs font-semibold">({{ text_preorder }})</span>{% endif %} {% for option in product.option %} <br/>
        &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
      <td class="text-left">{{ product.model }}</td>
      <td class="text-right">{{ product.quantity }}</td>
      <td class="text-right">{{ product.price }}</td>
      <td class="text-right">{{ product.total }}</td>
    </tr>
    {% endfor %}
    {% for voucher in vouchers %}
    <tr>
      <td class="text-left">{{ voucher.description }}</td>
      <td class="text-left"></td>
      <td class="text-right">1</td>
      <td class="text-right">{{ voucher.amount }}</td>
      <td class="text-right">{{ voucher.amount }}</td>
    </tr>
    {% endfor %}
    {% for gift in gifts %}
    <tr>
      <td class="text-left"><a href="{{ gift.href }}">{{ gift.name }}</a> <br/><small class="text-emerald-600 font-bold">{{ text_free }}</small></td>
      <td class="text-left">{{ gift.model }}</td>
      <td class="text-right">1</td>
      <td class="text-right"><span class="text-red-400 line-through">{{ gift.price }}</span></td>
      <td class="text-right">{{ text_free }}</td>
    </tr>
    {% endfor %}
      </tbody>
    
    <tfoot>
    
    {% for total in totals %}
    <tr>
      <td colspan="4" class="text-right"><strong>{{ total.title }}:</strong></td>
      <td class="text-right">{{ total.text }}</td>
    </tr>
    {% endfor %}
      </tfoot>
    
  </table>
</div>
{{ payment }}
{% else %} 
<script type="text/javascript"><!--
location = '{{ redirect }}';
//--></script> 
{% endif %} 
