{{ header }}{{ column_left }}
<div id="content">
  <link rel="stylesheet" href="view/stylesheet/dockercart_dcx_ui.css" />

  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    {% if warning %}
      <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-triangle"></i> {{ warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <ul class="nav nav-tabs dcx-profile-tabs" id="gdpr-tabs" role="tablist">
      <li class="active"><a href="#gdpr-settings" class="js-gdpr-tab" data-tab="gdpr-settings" data-title="{{ text_settings }}" data-subtitle="{{ text_edit }}" data-icon="fa-sliders"><i class="fa fa-sliders"></i> {{ text_settings }}</a></li>
      <li><a href="#gdpr-cookie-groups" class="js-gdpr-tab" data-tab="gdpr-cookie-groups" data-title="{{ text_cookie_groups }}" data-subtitle="{{ text_list }}" data-icon="fa-tag"><i class="fa fa-tag"></i> {{ text_cookie_groups }}</a></li>
      <li><a href="#gdpr-consent-log" class="js-gdpr-tab" data-tab="gdpr-consent-log" data-title="{{ text_consent_log }}" data-subtitle="{{ text_list }}" data-icon="fa-list"><i class="fa fa-list"></i> {{ text_consent_log }}</a></li>
      <li><a href="#gdpr-requests" class="js-gdpr-tab" data-tab="gdpr-requests" data-title="{{ text_requests }}" data-subtitle="{{ text_list }}" data-icon="fa-tasks"><i class="fa fa-tasks"></i> {{ text_requests }}</a></li>
    </ul>

    <div class="dcx-shell">
      <div class="dcx-panel">
        <div class="dcx-panel-head">
          <div class="dcx-panel-head__icon"><i id="gdpr-tab-icon" class="fa fa-sliders"></i></div>
          <div>
            <h3 class="dcx-panel-title" id="gdpr-tab-title">{{ text_settings }}</h3>
            <div class="dcx-panel-subtitle" id="gdpr-tab-subtitle">{{ text_edit }}</div>
          </div>
        </div>

        <div class="dcx-panel-body">
          <div id="gdpr-settings" class="dcx-tab-pane active">
            <form action="{{ action }}" method="post" id="form-module" class="form-horizontal dcx-form">
              <div class="dcx-section" style="margin-top:0;padding-top:0;border-top:0;">
                <h4>{{ text_settings }}</h4>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_status" id="input-status" class="form-control">
                      <option value="1" {% if module_dockercart_gdpr_status %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                      <option value="0" {% if not module_dockercart_gdpr_status %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-framework">{{ entry_framework }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_framework" id="input-framework" class="form-control">
                      <option value="eu" {% if module_dockercart_gdpr_framework == 'eu' %}selected="selected"{% endif %}>{{ text_framework_eu }}</option>
                      <option value="us" {% if module_dockercart_gdpr_framework == 'us' %}selected="selected"{% endif %}>{{ text_framework_us }}</option>
                      <option value="both" {% if module_dockercart_gdpr_framework == 'both' %}selected="selected"{% endif %}>{{ text_framework_both }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-position">{{ entry_banner_position }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_banner_position" id="input-position" class="form-control">
                      <option value="bottom" {% if module_dockercart_gdpr_banner_position == 'bottom' %}selected="selected"{% endif %}>{{ text_position_bottom }}</option>
                      <option value="top" {% if module_dockercart_gdpr_banner_position == 'top' %}selected="selected"{% endif %}>{{ text_position_top }}</option>
                      <option value="center" {% if module_dockercart_gdpr_banner_position == 'center' %}selected="selected"{% endif %}>{{ text_position_center }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-expiry">{{ entry_consent_expiry }}</label>
                  <div class="col-sm-10">
                    <input type="number" name="module_dockercart_gdpr_consent_expiry" value="{{ module_dockercart_gdpr_consent_expiry }}" id="input-expiry" class="form-control" min="1" max="3650" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-privacy-policy">{{ entry_privacy_policy }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_privacy_policy_id" id="input-privacy-policy" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      {% for information in informations %}
                        <option value="{{ information.information_id }}" {% if module_dockercart_gdpr_privacy_policy_id == information.information_id %}selected="selected"{% endif %}>{{ information.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-cookie-policy">{{ entry_cookie_policy }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_cookie_policy_id" id="input-cookie-policy" class="form-control">
                      <option value="0">{{ text_none }}</option>
                      {% for information in informations %}
                        <option value="{{ information.information_id }}" {% if module_dockercart_gdpr_cookie_policy_id == information.information_id %}selected="selected"{% endif %}>{{ information.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-do-not-sell">{{ entry_do_not_sell }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_do_not_sell" id="input-do-not-sell" class="form-control">
                      <option value="1" {% if module_dockercart_gdpr_do_not_sell %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                      <option value="0" {% if not module_dockercart_gdpr_do_not_sell %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-force-reconsent">{{ entry_force_reconsent }}</label>
                  <div class="col-sm-10">
                    <select name="module_dockercart_gdpr_force_reconsent" id="input-force-reconsent" class="form-control">
                      <option value="1" {% if module_dockercart_gdpr_force_reconsent %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                      <option value="0" {% if not module_dockercart_gdpr_force_reconsent %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                    </select>
                  </div>
                </div>

                <h4>{{ text_banner_content }}</h4>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-banner-title">{{ entry_banner_title }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="module_dockercart_gdpr_banner_title" value="{{ module_dockercart_gdpr_banner_title }}" id="input-banner-title" class="form-control" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-banner-text">{{ entry_banner_text }}</label>
                  <div class="col-sm-10">
                    <textarea name="module_dockercart_gdpr_banner_text" rows="3" id="input-banner-text" class="form-control">{{ module_dockercart_gdpr_banner_text }}</textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-accept-text">{{ entry_accept_text }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="module_dockercart_gdpr_accept_text" value="{{ module_dockercart_gdpr_accept_text }}" id="input-accept-text" class="form-control" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-reject-text">{{ entry_reject_text }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="module_dockercart_gdpr_reject_text" value="{{ module_dockercart_gdpr_reject_text }}" id="input-reject-text" class="form-control" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-do-not-sell-text">{{ entry_do_not_sell_text }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="module_dockercart_gdpr_do_not_sell_text" value="{{ module_dockercart_gdpr_do_not_sell_text }}" id="input-do-not-sell-text" class="form-control" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-privacy-link-text">{{ entry_privacy_link_text }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="module_dockercart_gdpr_privacy_link_text" value="{{ module_dockercart_gdpr_privacy_link_text }}" id="input-privacy-link-text" class="form-control" />
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div id="gdpr-cookie-groups" class="dcx-tab-pane">
            <div class="dcx-section" style="margin-top:0;padding-top:0;border-top:0;">
              <h4>{{ text_cookie_groups }}</h4>
              <div id="gdpr-cookie-groups-content"></div>
            </div>
          </div>

          <div id="gdpr-consent-log" class="dcx-tab-pane">
            <div class="dcx-section" style="margin-top:0;padding-top:0;border-top:0;">
              <h4>{{ text_consent_log }}</h4>
              <div id="gdpr-consent-log-content"></div>
            </div>
          </div>

          <div id="gdpr-requests" class="dcx-tab-pane">
            <div class="dcx-section" style="margin-top:0;padding-top:0;border-top:0;">
              <h4>{{ text_requests }}</h4>
              <div id="gdpr-requests-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function updateGdprPanelHeader(tabLink) {
  var $tab = $(tabLink);
  var title = $tab.data('title') || '{{ text_settings }}';
  var subtitle = $tab.data('subtitle') || '{{ text_edit }}';
  var icon = String($tab.data('icon') || 'fa-sliders').replace(/[^a-z0-9\-]/gi, '');

  $('#gdpr-tab-title').text(title);
  $('#gdpr-tab-subtitle').text(subtitle);
  $('#gdpr-tab-icon').attr('class', 'fa ' + icon);
}

function loadGdprTabContent(tabId) {
  var contentMap = {
    'gdpr-cookie-groups': '{{ cookie_groups_url }}',
    'gdpr-consent-log': '{{ consent_log_url }}',
    'gdpr-requests': '{{ requests_url }}'
  };

  var url = contentMap[tabId];
  if (!url) return;

  $('#' + tabId + '-content').load(url);
}

$(document).on('click', '.js-gdpr-tab', function(e) {
  e.preventDefault();

  var tabId = $(this).data('tab');
  if (!tabId) return;

  $('#gdpr-tabs > li').removeClass('active');
  $(this).closest('li').addClass('active');

  $('.dcx-tab-pane').removeClass('active');
  $('#' + tabId).addClass('active');

  updateGdprPanelHeader(this);
  loadGdprTabContent(tabId);
});

updateGdprPanelHeader($('#gdpr-tabs > li.active a.js-gdpr-tab'));
</script>

{{ footer }}
