<div class="table-responsive">
  <table class="table table-bordered table-hover dcx-table">
    <thead>
      <tr>
        <td>{{ column_name }}</td>
        <td>{{ entry_provider }}</td>
        <td>{{ entry_domain }}</td>
        <td>{{ entry_duration }}</td>
        <td class="text-center">{{ column_status }}</td>
        <td class="text-right">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if cookies %}
        {% for cookie in cookies %}
          <tr>
            <td>{{ cookie.name }}</td>
            <td>{{ cookie.provider }}</td>
            <td>{{ cookie.domain }}</td>
            <td>{{ cookie.duration }}</td>
            <td class="text-center">
              {% if cookie.status %}
                <span class="label label-success">{{ text_enabled }}</span>
              {% else %}
                <span class="label label-danger">{{ text_disabled }}</span>
              {% endif %}
            </td>
            <td class="text-right">
              <a href="{{ cookie.edit }}" class="btn btn-primary btn-xs" onclick="return loadCookieForm(this.href);" title="{{ button_edit }}"><i class="fa fa-pencil"></i></a>
              <a href="{{ cookie.delete }}" class="btn btn-danger btn-xs" onclick="return confirm('{{ text_confirm_delete }}?');" title="{{ button_delete }}"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
    </table>
  </div>

  <div style="margin-top:10px;">
    <button type="button" class="btn btn-default" onclick="backToCookieGroups();"><i class="fa fa-arrow-left"></i> {{ button_back }}</button>
    <a href="{{ add }}" class="btn btn-primary" onclick="return loadCookieForm(this.href);"><i class="fa fa-plus"></i> {{ button_add_cookie }}</a>
  </div>

<script type="text/javascript">
function loadCookieForm(url) {
  $.get(url, function(html) {
    $.magnificPopup.open({
      type: 'inline',
      preloader: false,
      items: { src: '<div class="modal-dialog"><div class="modal-content">' + html + '</div></div>' }
    });
  });
  return false;
}
</script>
