<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title"><i class="fa fa-tag"></i> {{ cookie_group_id ? text_edit_group : text_add_group }}</h4>
</div>
<div class="modal-body">
  <form id="form-cookie-group" class="form-horizontal">
    <input type="hidden" name="cookie_group_id" value="{{ cookie_group_id }}" />

    <ul class="nav nav-tabs" id="group-lang-tabs">
      {% for language in languages %}
        <li{% if loop.first %} class="active"{% endif %}><a href="#group-lang-{{ language.language_id }}" data-toggle="tab"><span class="lang-code">{{ language.code|split('-')|first|upper }}</span> {{ language.name }}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for language in languages %}
        <div class="tab-pane{% if loop.first %} active{% endif %}" id="group-lang-{{ language.language_id }}">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="group_description[{{ language.language_id }}][name]" value="{{ group_description[language.language_id].name }}" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_description }}</label>
            <div class="col-sm-10">
              <textarea name="group_description[{{ language.language_id }}][description]" rows="3" class="form-control">{{ group_description[language.language_id].description }}</textarea>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ entry_sort_order }}</label>
      <div class="col-sm-10">
        <input type="number" name="sort_order" value="{{ sort_order }}" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ entry_is_required }}</label>
      <div class="col-sm-10">
        <select name="is_required" class="form-control">
          <option value="1" {% if is_required %}selected="selected"{% endif %}>{{ text_yes }}</option>
          <option value="0" {% if not is_required %}selected="selected"{% endif %}>{{ text_no }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ entry_status }}</label>
      <div class="col-sm-10">
        <select name="status" class="form-control">
          <option value="1" {% if status %}selected="selected"{% endif %}>{{ text_enabled }}</option>
          <option value="0" {% if not status %}selected="selected"{% endif %}>{{ text_disabled }}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_cancel }}</button>
  <button type="button" class="btn btn-primary" id="button-save-group"><i class="fa fa-save"></i> {{ button_save }}</button>
</div>

<script type="text/javascript">
$('#button-save-group').on('click', function() {
  $.ajax({
    url: '{{ action }}',
    type: 'post',
    data: $('#form-cookie-group').serialize(),
    dataType: 'json',
    success: function(json) {
      if (json.success) {
        $.magnificPopup.close();
        loadGdprTabContent('gdpr-cookie-groups');
      }
    }
  });
});
</script>
